body, html {
    background: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#topMenu {
    position: absolute;
    background-color: rgba(47,47,47,100);
    border: 1px solid #444;
    border-radius: 3px;
    top: 0px;
    left: calc((100% / 2) - 150px);
    width: 300px;
    height: 26px;
    z-index: 3;
}

.extraKey {
    position: absolute;
    border: 1px solid #aaa;
    width: 24px;
    height: 24px;
    background-color: #222;
    border-radius: 3px;
    color: #eee;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}

.extraKey:hover {
    border: 1px solid #aaa;
    background: #111;
}

.extraKey:active {
    border: 1px solid #ccc;
    background: #555;
}

#btnEsc {width: 32px;}
#btnShift {width: 40px; left: 35px;}
#btnCtrl {width: 34px; left: 78px}
#btnWin {width: 30px; left: 115px;}
#btnAlt {width: 30px; left: 148px;}

#btnShowKeyboard {width: 28px; right: 62px;}
#btnChangeMonitor {width: 28px; right: 31px;}
#btnFullscrean {width: 28px; right: 0px;}

#cursor {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    z-index: 2;
    visibility: hidden;
}

svg {
    display: block;
    position: relative;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

svg#svgCursor {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#keyboard {
    position: absolute;
    background: none;
    z-index: 3;
    visibility: hidden;
}

.field {
    position: absolute;
    z-index: 1;
}

#cursorField {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
